/* Vendored verbatim from github.com/pixelact-ui/pixelact-ui
 * (components/ui/pixelact-ui/styles/styles.css). Powers the components below that are not
 * part of the Tiny Swords restyle (label, select, badge, kbd, tooltip) — those keep PixelAct's
 * own look and "inherit tokens" per the Task 2 brief; only button/card/dialog/input were
 * restyled to the Tiny Swords skin. MIT-licensed upstream; modifications for lindocara's skin.
 */

/* Self-hosted Press Start 2P font (SIL OFL 1.1 licensed from Google Fonts). */
@font-face {
  font-family: "Press Start 2P";
  src: url("../../../assets/fonts/press-start-2p/press-start-2p-latin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --box-shadow-width: 4px;
  --pixel-box-shadow:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 black, var(--box-shadow-width) 0 0 0 black,
    0 var(--box-shadow-width) 0 0 black, 0 calc(-1 * (var(--box-shadow-width))) 0 0 black;
  --pixel-box-shadow-destructive:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--destructive),
    var(--box-shadow-width) 0 0 0 var(--destructive),
    0 var(--box-shadow-width) 0 0 var(--destructive),
    0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--destructive);
  --default-inner-border-color: rgb(200, 200, 200);
}

.dark {
  --pixel-box-shadow:
    calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--ring),
    var(--box-shadow-width) 0 0 0 var(--ring), 0 var(--box-shadow-width) 0 0 var(--ring),
    0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--ring);
}

.pixel-font {
  font-family: "Press Start 2P", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.box-shadow-margin {
  margin: var(--box-shadow-width);
}
